@using IzendaEmbedded.Models
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "Custom Filters";
}


<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // hard code an array object of report parts.
            var reportObj = {
                "selector": "izenda-root",              // the element id which we want to render report on.
                "id": "58EC4BEC-BB01-4C7A-B0B6-819A8439EA4B",   // the id of report
                "filtersObj": {
                    "filters": [],
                    "overridingFilterValue": {  // filter object to pass to api
                        p1value: 60,            // override filter value at position 1 which is applying on current report, change >30 to >60
                        p2value: '40;#50'       // override filter value at position 2 which is applying on current report, change beetween (30:50) to (40:50)
                    }
                }

            }

            izendaInitReportCustomFilters(reportObj);
        });
    </script>
}