
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAccessToIzenda</title>
</head>
<body>
<div>
    <h3>No Access To Izenda.</h3>
</div>
</body>
</html>
